{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ with .Resources.Get .Params.image }}<img src="{{ .RelPermalink }}" alt="{{ $.Title }}" />{{ end }}
      {{ .Content }}
    </div>
     <!-- Giscus 댓글 시스템 -->
     <div id="giscus-comments"></div>
     <script src="https://giscus.app/client.js"
         data-repo="RedpingDev/RedpingBlog"
         data-repo-id="R_kgDONH1-tg"
         data-category="Show and tell"
         data-category-id="DIC_kwDONH1-ts4Cj0RP"
         data-mapping="pathname"
         data-strict="0"
         data-reactions-enabled="1"
         data-emit-metadata="0"
         data-input-position="bottom"
         data-theme="preferred_color_scheme"
         data-lang="ko"
         crossorigin="anonymous"
         async>
     </script>
  </div>
{{ end }}
